$corPrincipal :rgb(162, 0, 255) ;

.btn{
  background-color: $corPrincipal;
  border:1px solid #ccc;
  padding: 1.5vh 4vh;
  border-radius: 50px;
  transition: all .5s ease;
  &:hover{
    background: rgb(175, 37, 255);
    transform: scale(1.05);
    color: #333;
  }
}
.produtos{
  background-image: url(../../images/Sprinkle.svg);
  width: 100%;
  padding: 2vh 0 10vh;
  z-index: 999;
  &_desc{
    .avaliacaoProduto{
      background:rgba(219, 219, 219, 0.412);
      border-radius: 30px;
      padding: 3vh;
      margin-top: 2vh;
        h2{
          font-size:3vh;
          color:rgba(134, 0, 212, 0.768);
        }
        h3{
          font-size: 2.5vh;
          color: #ccc;
        }
        p{
          margin: 0;
        }
    }
    h1{
      margin-top: 10vh;
      color: #fff;
      background: rgba(88, 88, 88, 0.366);
      border-radius: 20px;
      padding: 10px;
      border:2px $corPrincipal;
      border-style: dashed;
      font-size:4vh;
      display: flex;
      align-items: center;
      gap: 2vh;
     
    }
    p{
      font-size: 2.5vh;
      text-align: justify;
      margin-top: 3vh;
      color: #fff;
    }
  }
  .container{
    width: 90%;
    padding: 5% 5% 10%;
    margin: 0 auto 2vh;
    background: rgba(231, 231, 231, 0.315);
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    .produtos_img{
      width: 35%;
      img{
        width: 100%;
      }
      .avaliacao{
        margin-top: 12vh;
        width: 70%;
        float: right;
      }
    }
  }
  &_info{
    width: 65%;
    padding: 0 10vh;
    display: flex;
    flex-direction: column;
    .produto_name{
      text-align: center;
      color: #ccc;
    }
    label {
      font-size: 4.5vh;
      font-weight: bold;
      margin-right: 2vh;
      color: #ccc;
    }
    .quantidade{
      width: 10%;
      padding: 1vh;
      font-size: 3vh;
      height: 5vh;
      background: rgba(255, 255, 255, 0.553);
      border: none;
      border-radius: 5px;
      color: #333;
    }
    .valorAntigo{
      text-decoration: line-through;
      color: #ccc;
      font-size: 3.5vh;
      margin-top: 10vh;
    }
    .valorNovo{
      font-size: 8vh;
      font-weight: bold;
      background: -webkit-linear-gradient(#eee, $corPrincipal);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .desconto{
      font-size: 2.5vh;
      color: #ccc;
    }
    .quantContainer{
        .btn{
          float: right;
          margin-right: 5vh;
        }
        span{
          color: #ccc;
          margin-left: 1vh;
          font-size: 3vh;
          font-weight: bold;
        }
    }
    .freteContainer{
      margin-top: 5vh;
      button{
        float: right;
        margin-right: 5vh;
      }
    }
  }
} 

.Cep{
 display: flex;
 flex-direction: column;
 gap: 1vh;
 width: 60vh;
 label{
   font-size: 3vh;
 }
 input{
   padding: 1vh;
 }
 .valorEntregas{
  background: $corPrincipal;
  padding: 0 1.5vh 1.5vh;
  border-radius: 20px;
   .Valores{
     display: grid;
     align-items: center;
     grid-template-columns: repeat(3,19vh);
     justify-content: space-around;
     line-height: 8vh;
     height: 8vh;
     background-color: rgba(219, 157, 255, 0.314);
     border-radius: 20px;
     margin-top: 1.5vh;
     cursor: pointer;
     transition: all .5s ease;
      &:hover{
        transform: scale(1.025);
        background-color: rgba(253, 249, 255, 0.314);
      }
     th,td{
       text-align: center;
       font-weight: bold;
       color: #fff;
     }
   }
 }
}